<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body class="body-reg">
    <%- include('./partials/header-2')%>

    <main>

                <div class="single-column">
                <form action="/users/<%= usuarioToEdit.id %>/editar?_method=PUT" method="POST" class="form-login">

                    <h2 class="titulo-login">Editar Usuario</h2>

                    <div class="correo-contra">

                        <label for="nombres" class="label-correo">Nombres</label>
                        <input type="text" name="nombres" id="nombres" value="<%= usuarioToEdit.nombres %>"required>

                        <label for="apellidos" class="label-correo">Apellidos</label>
                        <input type="text" name="apellidos" id="apellidos" value="<%= usuarioToEdit.apellidos %>" required>

                        <label for="correoElectronico" class="label-correo">Correo electrónico</label>
                        <input type="email" name="correoElectronico" id="correoElectronico" value="<%= usuarioToEdit.correoElectronico %>" required>

                        <label for="password" class="label-contra">Contraseña</label>
                        <input type="password" name="password" id="password"  value="<%= usuarioToEdit.password %>" required>
                    </div>
                    
                    

                    <div class="div-login-button">
                        <button class="register-button" type="submit" >Guardar</button>
                    </div>

                </form>

                <form action="/users/<%= usuarioToEdit.id %>/eliminar?_method=DELETE" method="POST" class="form-login">
                    <button type="submit" class="register-button">ELIMINAR</button>
                </form>

        </div>

        </main>

        <%- include('./partials/footer-2')%>
        <script src="/js/main.js" type="module"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
    </html>