<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body class="body-login">
    
    <%- include('./partials/header-2')%>
    <%- include('./partials/menuResponsive')%>
    <div class="container-blur" id="filter"></div>

    <main>

                <div class="single-column">
                    <form action="/users/<%= usuarioToEdit.idUsuario %>/editar?_method=PUT" method="POST" class="form-login">

                    <h2 class="titulo-login">Editar Usuario</h2>

                    <div class="correo-contra">

                        <label for="nombres" class="label-correo">Nombres</label>
                        <input type="text" name="nombres" id="nombres" value="<%= usuarioToEdit.nombres %>" required>
                        <p class="text-name"></p>
                        <% if(locals.errors && errors.nombres) { %>
                            <div class="text-danger">
                                <%= errors.nombres.msg %>
                            </div>
                        <% } %>
                        

                        <label for="apellidos" class="label-correo">Apellidos</label>
                        <input type="text" name="apellidos" id="apellidos" value="<%= usuarioToEdit.apellidos %>" required>
                        <p class="text-name"></p>
                        <% if(locals.errors && errors.apellidos) { %>
                            <div class="text-danger">
                                <%= errors.apellidos.msg %>
                            </div>
                            
                        <% } %>
                        

                        <label for="correoElectronico" class="label-correo">Correo electrónico</label>
                        <input type="email" name="email" id="correoElectronico" value="<%= usuarioToEdit.email %>" required>
                        <p class="text-name"></p>
                        <% if(locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                            
                        <% } %>
                        

                        <label for="password" class="label-contra">Contraseña</label>
                        <input type="password" name="password" id="password"  value="<%= usuarioToEdit.password %>" required>
                        <p class="text-name"></p>
                        <% if(locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                            
                        <% } %>
                        
                    </div>
                    
                    

                    <div class="div-login-button">
                        <button class="register-button" type="submit" >Guardar</button>
                    </div>

                </form>

                <form action="/users/<%= usuarioToEdit.idUsuario %>/eliminar?_method=DELETE" method="POST" class="form-login">
                    <button type="submit" class="delete-button">Eliminar</button>
                </form>

        </div>

        </main>

        <%- include('./partials/footer-2')%>
        <script src="/js/main.js" type="module"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
    </html>