<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
    <%- include('./partials/header-2')%>

<!-- 
    Nombre del producto (n​ ame)​
Descripción (d​ escription​)
Imagen (i​ mage)​
Categoría (c​ ategory)​
Colores (o cualquier otro campo similar como: tamaños, talles, etc)
Precio (p​ rice​)
-->

    <main>

            <div clas="big-container">



                <div class="single-column">
                    <form action="/products/<%= productToEdit.idModelo %>/editar?_method=PUT" method="POST" class="form-login">
>
                    <h2 class="titulo-login">Editar Producto</h2>

                    <div class="correo-contra">

                        <label for="idModelo" class="label-correo">Id del Producto</label>
                        <input type="text" name="idModelo" id="idModelo" value="<%= productToEdit.idModelo %>" required>

                        <label for="nombreModelo" class="label-correo">Nombre del Producto</label>
                        <input type="text" name="nombreModelo" id="nombreModelo" value="<%= productToEdit.nombreModelo %>" required>

                        <label for="descripcion" class="label-correo">Descripción</label>
                        <input type="textarea" name="descripcion" id="descripcion" value="<%= productToEdit.descripcion %>"  required>

                        <label for="deliveryEstimado" class="label-correo">Delivery Estimado</label>
                        <input type="textarea" name="deliveryEstimado" id="deliveryEstimado" value="<%= productToEdit.deliveryEstimado %>"  required>       

                        <label for="autonomia" class="label-correo">Autonomía</label>
                        <input type="textarea" name="autonomia" id="autonomia" value="<%= productToEdit.autonomia %>"  required>
                        
                        <label for=velocidadMaxima" class="label-correo">Velocidad Máxima</label>
                        <input type="textarea" name="velocidadMaxima" id="velocidadMaxima" value="<%= productToEdit.velocidadMaxima %>"  required>

                        <label for="tiempoDeCeroCien" class="label-correo">Tiempo De Cero A Cien</label>
                        <input type="textarea" name="tiempoDeCeroCien" id="tiempoDeCeroCien" value="<%= productToEdit.tiempoDeCeroCien %>"  required>

                        <label for="ingreso" class="label-correo">Ingreso</label>
                        <input type="textarea" name="ingreso" id="ingreso" value="<%= productToEdit.ingreso %>"  required>

                        <label for="imgModelo" class="label-correo">Imagen del producto</label>
                        <input type="file" name="imgModelo" id="imgModelo" required>

                        <label for="precio" class="label-correo">Precio</label>
                        <input type="textarea" name="precio" id="precio" value="<%= productToEdit.precio %>" required>
                    </div>
                    
                    
                    <div class="div-login-button">
                        <button class="register-button" type="submit">Guardar Producto</button>
                    </div>

                </form>

                <form action="/products/<%= productToEdit.idModelo %>/eliminar?_method=DELETE" method="POST" class="form-login">
                     <button class="register-button" type="submit" name="eliminar">Eliminar Producto</button>
                </form>
                
        
            </div>


        </div>

        </main>

        <%- include('./partials/footer-2')%>
        <script src="/js/main.js" type="module"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
    </html>