<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body class="body-login">

    <%- include('./partials/header-2')%>
    <%- include('./partials/menuResponsive')%>
    <div class="container-blur" id="filter"></div>

    <%- include('./partials/validation')%>
    
    <main>

            <div clas="big-container">

                <div class="single-column">
                <form action="/users" method="POST" class="form-login">

                    <h2 class="titulo-login">Iniciar sesión</h2>

                    <div class="correo-contra">
                        <label for="email" class="label-correo">Correo electrónico</label>
                        <input type="email" name="email" id="correo" required>

                        <label for="password" class="label-contra">Contraseña</label>
                        <input type="password" name="password" id="contraseña" required>
                    </div>
                    
                    <div class="recuerdame">
                        <input class="checkbox-box" type="checkbox" value="lsRememberMe" id="rememberMe"> 
                        <label class="checkbox-label" for="rememberMe">Recuérdame</label>
                    </div>

                    <div class="div-login-button">
                        <button class="login-button" type="submit" name="ingreso">INGRESAR</button>
                    </div>

                </form>

            
            <div class="olvido">

                <div class="olvido-correo">
                    <a href="/support.html">¿Olvidó el correo electrónico?</a>
                </div>

                <div class="olvido-contraseña">
                    <a href="/resetpass.html">¿Olvidó la contraseña?</a>
                </div>
            </div>

        <p class="no-account">¿No tiene una cuenta?</p>

        <div class="boton-crear-cuenta">
            <button class="account-button" type="submit" name="ingreso"><a href="/register">CREAR UNA CUENTA</a></button>
        </div>

        </div>

        </main>

        <%- include('./partials/footer-2')%>
        <script src="/js/main.js" type="module"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
    </html>