<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body class="body-login">

    <%- include('./partials/header-2')%>
    <%- include('./partials/menuResponsive')%>
    <div class="container-blur" id="filter"></div>
    
    <main>
    
            <div clas="big-container">

                <div class="single-column">
                <form action="/users/login" method="POST" class="form-login">

                    <h2 class="titulo-login">Iniciar sesión</h2>
                    <div class="correo-contra">
                        <label for="email" class="label-correo">Correo electrónico</label>
                        <input type="email" name="email" id="correo" placeholder="email@ejemplo.com" class='email-login' required>
                        <p class="text-email"></p>
                        <% if(locals.errors && errors.email) { %>
                            <div class="text-danger">
                                <%= errors.email.msg %>
                            </div>
                        <% } %>

                        <label for="password" class="label-contra">Contraseña</label>
                        <input type="password" name="password" id="contraseña" class="password-login" required>
                        <p class="text-password"></p>
                        <% if(locals.errors && errors.password) { %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                            
                        <% } %>
                    </div>
                    
                    <div class="recuerdame">
                        <input class="checkbox-box" type="checkbox" value="lsRememberMe" id="rememberMe" name="rememberMe"> 
                        <label class="checkbox-label" for="rememberMe">Recuérdame</label>
                    </div>

                    <div class="div-login-button">
                        <button class="login-button" type="submit" name="ingreso">INGRESAR</button>
                    </div>

                </form>

            
            <h3 class="tiene-cuenta">¿No tiene una cuenta?</h3>

        <div class="boton-crear-cuenta">
            <button class="account-button" type="submit" name="ingreso"><a href="/users/register">CREAR UNA CUENTA</a></button>
        </div>

        </div>

        </main>

        <%- include('./partials/footer-2')%>
        <script src="/js/main.js" type="module"></script>
        <script src="/js/validationFrontLogin.js" type="module"></script>
        <script src="/js/profile.js" type="module"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
    </html>