<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
    <%- include('./partials/header-2')%>
    <%- include('./partials/menuResponsive')%>
    <div class="container-blur" id="filter"></div>
    
<main>

    <h3 class="h3-inv">Inventario</h3>

    <div class="button-input">
        <div class="searchbar-form">
            <input type="text" placeholder="Ingrese un modelo" class="search" id="searchbarID" value="<%=keyword%>">
            <button type="button" class="boton-lupa"><i class="fas fa-search" id="icono-lupa"></i></button>
        </div>
    </div>


        <section class="seccion-inv">
            <article class="productos-article">
            
                    <div class="div-producto">
                        <ul id="productsList"></ul>
                    </div>
            
            </article>

    </section>

    <%- include('./partials/footer-2')%>

</main>

    <script src="/js/main.js" type="module"></script>
    <script src="/js/searchBar.js" type="module"></script>

</body>
</html>
