<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
    <%- include('./partials/header-2')%>
    <%- include('./partials/menuResponsive')%>
    <div class="container-blur" id="filter"></div>
    
<main>

    <h3 class="h3-inv">Inventario</h3>

    <div class="button-input">
        <form action='/products' method="GET" class="searchbar-form">
            <input type="text" placeholder="Modelos, características" class="search" required="">
            <button type="submit" class="boton-lupa"><i class="fas fa-search" id="icono-lupa"></i></button>
        </form>
    </div>


    <section class="seccion-inv">
        <article class="productos-article">
            <% for(i=0; i<products.length; i++) { %>
                    <div class="div-producto">
                        <a href="/products/detail/<%= products[i].idModelo %>">
                            <img src="/imgs/products/<%=products[i].imgProducto%>" alt="imagen de producto">
                        </a>
                        <h3 class="inv-nombre"><%= products[i].nombreModelo %></h3>
                        <h4 class="inv-precio">USD <%= products[i].precio %></h4>
                    </div>

            <% } %>

        </article>
    </section>

    <%- include('./partials/footer-2')%>

</main>

    <script src="/js/main.js" type="module"></script>
    
</body>
</html>
