<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body>
    <%- include('./partials/header-2')%>
    <%- include('./partials/menuResponsive')%>
    <div class="container-blur" id="filter"></div>
    
<main class="main-usu">
            <article class="usuarios-article">
            <% for(i=0; i<usuarioLogueado.length; i++) { %>
                    <div class="div-producto">
                        <a href="/usuarios/detalleusuario/<%= usuarioALoguearse[i].idModelo %>">
                            <img src="/imgs/usuarios/<%=usuarioALoguearse[i].imgModelo%>" alt="imagen de usuario">
                        </a>
                        <h3><%= usuarioALoguearse[i].nombreModelo %></h3>
                        <h4><%= usuarioALoguearse[i].usuario %></h4>
                    </div>

            <% } %>

        </article>
    </section>
</main>

<%- include('./partials/footer-2')%>

    <script src="/js/main.js" type="module"></script>
</body>
</html>
