<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')%>
<body class="body-login">

    <%- include('./partials/header-2')%>
    <%- include('./partials/menuResponsive')%>
    <div class="container-blur" id="filter"></div>
    
    <main class="main-usu">

        <h1>Usuarios</h1>
        <article class="usuarios-article">
        <% for(i=0; i<usuario.length; i++) { %>
                <div class="div-producto">
                    <a href="/users/editarUsuario/<%= usuario[i].idUsuario %>">
                        <img src="/imgs/imgsPerfil/<%=usuario[i].imgPerfil%>" alt="imagen de usuario">
                    </a>
                    <h3><%= usuario[i].nombres + ' ' + usuario[i].apellidos %></h3>
                    <h4><%= usuario[i].email %></h4>
                </div>

        <% } %>

    </article>
</section>
</main>

        <%- include('./partials/footer-2')%>
        <script src="/js/main.js" type="module"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
    </html>